body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 100%vh;
  padding: 80px;
}
#bookDisplay {
  border: 3px solid black;
  width: 50%;
}
.book-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.book-div:nth-child(odd) {
  background-color: rgb(235, 231, 231);
}
.remove {
  border: 3px solid black;
}
.formLine {
  border: 2px solid black;
  width: 80px;
  margin-top: 10px;
}
#form {
margin-bottom: 90px;
}
#book-title {
  border: 2px solid black;
}
#author-name {
  border: 2px solid black;
}
#add-btn {
  border: 2px solid black;
}